{% extends "tasks/base/base.html" %}

{% block body %}
    <div class="container mt-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
            <div class="mb-3">
                <h3>Password Reset</h3>
                <hr>
                <p>Forgotten your password? Enter your email address below, and we'll email instruction for setting a new one.</p>
            </div>
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" placeholder="Enter your registered email">
            </div>

            <button class="btn btn-primary">
                Send Reset Link
            </button>
        </form>
    </div>
{% endblock %}