{% extends "tasks/base/base.html" %}

{% block body %}

    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
            <div class="mb-3">
                <h3>Enter new password</h3>
                <hr>

                <p>Please enter your new password twice so we can verify you typed it correctly.</p>
            </div>
            {% if form.errors %} <div class="alert alert-danger"> {{ form.errors }} </div> {% endif %}
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input class="form-control" type="password" name="{{ form.new_password1.name }}" value="{{ form.new_password1.value|default_if_none:'' }}">

                <label class="form-label">Confirm Password</label>
                <input class="form-control" type="password" name="{{ form.new_password2.name }}" value="{{ form.new_password2.value|default_if_none:'' }}">
            </div>
            <button class="btn btn-primary">
                Submit
            </button>
        </form>
    </div>
{% endblock %}